* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 63.5%;

  /* COLORS */
  --primary-color: #fec63e;
  --secondary-color: #000;
}

body {
  scroll-behavior: smooth;
  font: 400 1.6rem 'Rubik', sans-serif;
}

p {
  font-family: 'Bitter', serif;
}

img {
  display: block;
}

#header {
  position: sticky;
  z-index: 99;
  top: 0;

  width: 100%;
  padding: 1.5rem 0;

  background: var(--primary-color);
}

#header .navigation {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 6.6rem;
}

.navigation ul li {
  display: inline-block;
  margin-left: 2rem;
}

.navigation ul li:first-child {
  margin-left: 0;
}

.navigation ul li a {
  position: relative;
  font-weight: bold;
  letter-spacing: 0.1rem;
  font-size: 1.4rem;

  transition: color 300ms;
}

.navigation ul li a:hover,
.navigation ul li a.active {
  color: #fff;
}

.navigation ul li a::before,
.navigation ul li a.active::before {
  content: '';
  background: #000;
  bottom: -0.75rem;
  position: absolute;
  width: 0px;
  height: 0.25rem;

  transition: width 400ms;
}

.navigation ul li a.active::before {
  width: 100%;
}

.navigation ul li a:hover::before {
  width: 100%;
}

.button {
  cursor: pointer;
  text-transform: uppercase;
  width: 14rem;
  height: 4rem;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.4rem;
  font-weight: bold;

  background: transparent;
  color: var(--primary-color);
  border: 0.4rem solid var(--primary-color);

  transition: border 400ms, color 400ms, transform 600ms;
}

.button:hover {
  border-color: #000;
  color: #000;
  transform: translateY(-0.5rem);
}

.button.other-button:hover {
  border-color: #fff;
  color: #fff;
}

.subtitle,
.subtitle-internal {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 3rem;
  letter-spacing: 0.1rem;
  color: #000;
  text-align: center;
}

.subtitle-internal {
  text-align: left;
}

.subtitle::after,
.subtitle-internal::after {
  content: '';
  display: block;
  background: #000;
  width: 6rem;
  height: 0.3rem;

  margin: 0.8rem auto 0;

  transition: width 300ms ease, background 300ms ease-in-out;
}

.subtitle-internal::after {
  margin: 0.3rem 0 0 0;
}

.subtitle:hover::after,
.subtitle-internal:hover::after {
  background: var(--primary-color);
  width: 8rem;
}

#quality {
  padding: 6rem 0;
  position: relative;
}

#quality::after {
  position: absolute;
  top: 20rem;
  right: 14rem;
  content: '';
  width: 67rem;
  height: 8.3rem;
  display: block;
  background: url('../../assets/linhas.svg') no-repeat center;
}

#quality img {
  margin: 3rem auto 0;
}

.quality-list {
  margin-top: 5rem;
  overflow: auto;
}

.quality-list li {
  text-align: center;
  padding: 0 4rem;
}

.quality-list li p {
  margin-top: 1rem;
}

#quality .call {
  padding-top: 5rem;
}

.quality-list h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  line-height: 2.5rem;
}

.quality-list h3::after {
  content: '';
  display: block;
  background: #000;
  width: 6rem;
  height: 0.3rem;

  margin: 0.2rem auto 0;
}

.quote {
  max-width: 30rem;
  margin: 0 auto 3rem auto;
  font-style: italic;
  font-weight: 500;
}

.quote p::after,
.quote p::before,
#introduction-section h1::after {
  content: '';
  display: block;
  background: #fff;
  width: 6rem;
  height: 0.3rem;
}

.quote p::before {
  margin: 2rem auto 1rem auto;
}

.quote p::after,
#introduction-section h1::after {
  margin: 1rem auto 2rem auto;
}

.quote cite {
  font-size: 1.4rem;
  letter-spacing: 0.15rem;
  font-style: normal;
  font-weight: bold;
}

#break-quote {
  width: 100%;
  height: 20rem;

  display: flex;
  align-items: center;
  justify-content: center;

  background: url('../../assets/quote-img.jpg') no-repeat center;
  background-size: cover;
  text-align: center;
  color: #fff;
}

#break-quote p,
#break-quote cite {
  text-shadow: 0 0 0.5rem black;
}

#break-quote p::before,
#break-quote p::after {
  background: #fff;
}

#footer .footer {
  width: 100%;
  background: #000;
  color: #fff;

  padding: 2rem 0;
}

.footer h3 {
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: var(--primary-color);
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-weight: bold;
}

.footer h3::after {
  content: '';
  display: block;
  background: var(--primary-color);
  width: 6rem;
  height: 0.3rem;

  margin: 1rem 0 1.5rem;
}

.footer-story p {
  line-height: 2.5rem;
  padding-right: 4rem;
}

.footer-contact ul li {
  font-family: 'Bitter', serif;
  margin-bottom: 0.625rem;
}
.footer-contact ul li:last-child {
  margin: 0;
}

#footer .copy {
  width: 100%;
  height: 5rem;

  display: flex;
  align-items: center;

  background: var(--primary-color);
}

.footer-social ul {
  display: flex;
  gap: 2rem;
}

.footer-social ul li {
  overflow: hidden;
}

.footer-social ul li a {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 6rem;
  height: 6rem;

  border: 0.3rem solid var(--primary-color);
}

.footer-social ul li a img {
  transition: transform 500ms ease;
}

.footer-social ul li a:hover img {
  transform: scale(1.2);
}

.copy .container p {
  font-family: 'Rubik', sans-serif;
}

.copy .container p:last-child {
  font-weight: bold;
  text-align: right;
}

#introduction-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 16rem;

  background-image: url('../../assets/sobre-img.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  text-align: center;
  color: #fff;
}

#introduction-section h1 {
  font-size: 3.6rem;
  font-weight: bold;
  text-shadow: 0px 0px 3px black;
}

#introduction-section h1::after {
  margin: 0.6rem auto 1.5rem auto;
  background-color: #fff;
}

#portfolio {
  width: 100%;
  padding: 4rem 0 6rem;
  background: #000;
}

#portfolio h2 {
  color: var(--primary-color);
}

#portfolio h2::after {
  background: var(--primary-color);
  margin-bottom: 3rem;
}

#portfolio ul li:last-child {
  margin-top: 2rem;
}

#portfolio ul li {
  overflow: hidden;
}

#portfolio ul li img {
  transition: all 300ms ease-in-out;
}

#portfolio ul li:hover img {
  transform: scale(1.1);
}

#portfolio .call {
  padding-top: 3rem;
}

#portfolio .call p {
  color: #fff;
}
