#introduction {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 37.8rem;

  background: url('../assets/home.jpg') no-repeat center;
  background-size: cover;

  color: #fff;
  text-align: center;
}

#introduction h1 {
  font-size: 6rem;
  font-weight: bold;
  text-shadow: 0px 0px 3px black;
}

#introduction a {
  margin: 0 auto;
}

#products {
  padding: 6rem 0;
}

#products .products-list {
  margin-top: 3rem;
}

.products-list li {
  background: var(--primary-color);
  text-align: center;
}

.products-list .image-list {
  background: #000;
  padding: 2rem;
}

.image-list img {
  margin: 0 auto;
  transition: transform 500ms ease;
}

.image-list:hover img {
  transform: scale(1.2);
}

.products-list li .text-list {
  padding: 2rem;
}

.text-list h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  line-height: 2.5rem;
}
.text-list h3::after {
  content: '';
  display: block;
  background: #000;
  width: 6rem;
  height: 0.3rem;

  margin: 0.2rem auto 0;
}

.text-list p {
  margin-top: 1.6rem;
}

.call {
  clear: both;
  padding-top: 2rem;
  text-align: center;
}

.call p {
  margin-bottom: 1rem;
}

.call a {
  margin: 0 auto;
}

#portfolio {
  width: 100%;
  padding: 4rem 0 6rem;
  background: #000;
}

#portfolio h2 {
  color: var(--primary-color);
}

#portfolio h2::after {
  background: var(--primary-color);
  margin-bottom: 3rem;
}

#portfolio ul li:last-child {
  margin-top: 2rem;
}

#portfolio ul li {
  overflow: hidden;
}

#portfolio ul li img {
  transition: all 300ms ease-in-out;
}

#portfolio ul li:hover img {
  transform: scale(1.1);
}

#portfolio .call {
  padding-top: 3rem;
}

#portfolio .call p {
  color: #fff;
}
