#introduction-section {
  background-image: url('../assets/portifolio.jpg');
}

main .quote-client {
  max-width: 456px;
  margin: 6rem auto;

  text-align: center;
}

.quote-client p {
  color: #3e3e3e;
  font-style: italic;
  font-size: 1.8rem;
}

.quote-client cite {
  font-family: 'Bitter', serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1.8rem;

  display: block;
  margin-top: 2rem;
}

#portfolio .slide {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;

  margin-top: 2rem;
}

.slide .ball {
  cursor: pointer;
  width: 12px;
  height: 12px;
  border-radius: 50%;

  background: #3e3e3e;
}

.slide .ball.active {
  cursor: default;
  background: var(--primary-color);
}

[data-slide-nav] {
  display: block;
  text-align: center;
}

[data-slide-nav] button {
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin: 2rem 1rem 0 0;
  background: #3e3e3e;
  color: #3e3e3e;
}

[data-slide-nav] button.active {
  color: var(--primary-color);
  background: var(--primary-color);
}
